# Ignore arquivos de ambiente virtual
transcribe_env/
!transcribe_env/.gitkeep

# Ignore a pasta CUDA toolkit, mas mantenha o gitkeep
cuda_toolkit/
!cuda_toolkit/.gitkeep

# Ignore a pasta whisper_faster_xxl, mas mantenha o gitkeep
whisper_faster_xxl/
!whisper_faster_xxl/.gitkeep

# Ignore arquivos de log de instalação
windows_rtx_setup/install_logs/
!windows_rtx_setup/install_logs/.gitkeep

# Ignore outros arquivos temporários comuns
__pycache__/
*.pyc
*.pyo
*.log
